<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="" />
    <add key="AWSRegion" value="REGION" />
    <add key="AWSAccessKey" value="ACCESS-KEY" />
    <add key="AWSSecretKey" value="SECRET-KEY" />
    <add key="AWSServiceUrl" value="http://localhost:9999" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>